@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.project-info {
  font-family: "PT Sans", sans-serif;
  align-content: center;
  /* border: solid; */
  width: 50%;
  height: 100%;
  position: absolute;
  /* margin: 0; */
  display: none;
}

.display {
  display: block;
  z-index: 3;
}

@keyframes display-info {
  from {
    display: none;
  }
  to {
    display: block;
  }
}

.project-one {
  padding-left: 30%;
}

.project-two {
  padding-left: 50%;
}

.project-three {
  padding-left: 70%;
}

h3.project-title {
  font-size: 24px;
}
strong {
  font-size: 18px;
}
.contributions ul {
  line-height: 2;
}
.tech-stack ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  list-style: none;
}

.links {
  display: flex;
  justify-content: space-around;
}
.links button {
  color: white;
  background-color: rgb(57, 57, 57);
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  min-width: 80px;
  cursor: pointer;
  border-color: rgb(57, 57, 57);
  margin: 10px;
}
.links button:hover {
  border-color: rgb(84, 84, 84);
}
.links button:focus {
  outline: none;
}

@media only screen and (max-width: 1500px) {
  .project-one {
    padding-left: 30%;
  }

  .project-two {
    padding-left: 60%;
  }

  .project-three {
    padding-left: 80%;
  }
}

@media only screen and (max-width: 1250px) {
  .project-one {
    padding-left: 40%;
  }

  .project-two {
    padding-left: 70%;
  }

  .project-three {
    padding-left: 25%;
  }
}

@media only screen and (max-width: 860px) {
  .project-one {
    padding-left: 50%;
  }

  .project-two {
    padding-left: 110%;
  }

  .project-three {
    padding-left: 25%;
  }
}

@media only screen and (max-width: 625px) {
  .project-info {
    width: 85%;
    height: auto;
    padding-left: 10%;
  }
  .project-one {
    top: 0%;
  }

  .project-two {
    top: 600px;
  }

  .project-three {
    top: 1200px;
  }
  .contributions ul {
    line-height: 1.5;
  }
  .project-info p {
    font-size: 12px;
  }
}

/* IPHONE 11 */
/*TODO: Disable scrolling within view.*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .project-info {
    width: 80%;
  }
  .project-one {
    top: 60px;
  }
  .project-two {
    top: 570px;
  }

  .project-three {
    top: 1100px;
  }
}

/* TODO: IPHONE11 PRO */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
}

/* TODO: IPHONE11 PRO MAX*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
}

/* TODO: IPHONE XR - 1792x828px at 326ppi */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
}

/* IPHONE XS - 2436x1125px at 458ppi */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .project-one {
    top: 30px;
  }
  .project-two {
    top: 510px;
  }

  .project-three {
    top: 1000px;
  }
}

/* TODO: IPHONE XS MAX 2688x1242px at 458ppi */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
}
