@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.project-info {
  font-family: "PT Sans", sans-serif;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: grid;
  grid-template-rows: repeat(5, auto);
  row-gap: 1rem;
  padding: 6rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(63, 63, 63);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
}

.display {
  z-index: 3;
  visibility: visible;
  opacity: 1;
}

.exit-project-info {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: rgb(142, 142, 142);
}

h3.project-title {
  grid-row: 1 / 2;
  font-size: 3rem;
  margin-left: 0;
  /* border: solid; */
}
strong {
  font-size: 18px;
  color: white;
  /* margin: 1rem 0; */
}
.summary {
  grid-row: 2 / 3;
  color: rgb(210, 210, 210);
  font-size: 1.7rem;
  /* border: solid; */
}
.contributions {
  color: rgb(210, 210, 210);
  grid-row: 3 / 4;
  margin: 1rem 0;
  /* border: solid; */
  /* margin: auto; */
}
.contributions ul {
  line-height: 2;
  margin: 0 1.5rem;
}
.tech-stack {
  grid-row: 4 / 5;
  color: rgb(210, 210, 210);
  margin-bottom: 1rem;
  /* border: solid; */
}
.tech-stack ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  list-style: none;
  margin-top: 1rem;
}

.links {
  /* border: solid; */
  margin-top: 1rem;
  grid-row: 5 / 6;
}

.links a:not(:last-child),
.links button:not(:last-child) {
  margin-right: 10rem;
}

.links button {
  color: white;
  background-color: rgb(57, 57, 57);
  font-size: 14px;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  min-width: 80px;
  cursor: pointer;
  border-color: rgb(57, 57, 57);
}
.links button.live {
  background-color: #94a6bb;
}
.links button:hover {
  border-color: rgb(84, 84, 84);
}
.links button:focus {
  outline: none;
}

/* IPHONE 11 */
/*TODO: Disable scrolling within view.*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .project-one {
    top: 60px;
  }
  .project-two {
    top: 570px;
  }

  .project-three {
    top: 1100px;
  }
}

/* TODO: IPHONE11 PRO */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
}

/* TODO: IPHONE11 PRO MAX*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
}

/* TODO: IPHONE XR - 1792x828px at 326ppi */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
}

/* IPHONE XS - 2436x1125px at 458ppi */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .project-one {
    top: 30px;
  }
  .project-two {
    top: 510px;
  }

  .project-three {
    top: 1000px;
  }
}

/* TODO: IPHONE XS MAX 2688x1242px at 458ppi */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
}
