@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.contact {
  font-family: "PT Sans", sans-serif;
  position: relative;
  height: 100vh;
  /* border: solid; */
  color: rgb(216, 216, 216);
  padding: 50px 0px 100px 0px;
  background-color: rgb(74, 74, 74);
}

.contact .bottom-border {
  background-color: #f6d8ae;
}

.message {
  /* border: solid; */
  font-size: 20px;
  padding: 10px;
  margin: auto;
  margin-top: 70px;
  width: 50%;
  height: 60%;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: repeat(5, 1fr);
}

input,
textarea {
  background-color: transparent;
  width: 80%;
  color: white;
  font-size: 16px;
  border: none;
  border-bottom: solid thin;
  border-color: rgb(157, 157, 157);
}

input:focus,
textarea:focus {
  border-color: #f6d8ae;
  outline: none;
}

.error {
  color: rgb(184, 73, 73);
  margin-left: 15%;
  font-size: 16px;
  font-weight: bold;
}

.name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.name input {
  font-size: 20px;
  padding: 5px;
}

.email {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.email input {
  font-size: 20px;
  padding: 5px;
}

.body {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  /* border: solid; */
}
.body textarea {
  font-size: 20px;
  padding: 5px;
}

.body textarea {
  height: 80%;
  width: 90%;
  margin: 10px 0px 0px 0px;
  border: solid thin;
  border-color: rgb(157, 157, 157);
  word-wrap: normal;
}

.body textarea:focus {
  border-color: #f6d8ae;
}

.message button {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  margin: 30px auto auto 0px;
  background-color: #f6d8ae;
  padding: 10px;
  min-width: 80px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.message button:focus {
  outline: none;
}
.email-response {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  margin: auto;
}

a.linkedin {
  color: rgb(157, 157, 157);
  font-size: 50px;
}
a.github {
  color: rgb(157, 157, 157);
  font-size: 50px;
}
a.linkedin:hover {
  color: rgb(198, 198, 198);
}
a.github:hover {
  color: rgb(198, 198, 198);
}

@media only screen and (max-width: 800px) {
  .message {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 10%;
    height: auto;
    margin-top: 10%;
    width: 80%;
    /* margin-bottom: 100px; */
  }

  .message a {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    margin: auto;
  }
  a.linkedin {
    position: relative;
    float: left;
    margin-left: 10%;
  }
  a.github {
    position: relative;
    margin-right: 10%;
  }
  .name {
    grid-row: 2 / 3;
  }

  .email {
    grid-row: 3 / 4;
  }

  .body {
    grid-row: 4 / 6;
  }

  .message button {
    grid-row: 6 / 7;
  }
  .email-response {
    grid-row: 6 / 7;
    font-size: 12px;
    margin-left: 40%;
  }
  input {
    width: 100%;
  }

  .body textarea {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .message {
    width: 70%;
  }
}
