@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.contact {
  font-family: "PT Sans", sans-serif;
  position: relative;
  /* border: solid; */
  color: rgb(216, 216, 216);
  padding: 50px 0px 50px 0px;
  background-color: rgb(74, 74, 74);
}

.contact .bottom-border {
  background-color: #f6d8ae;
}

.message {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 1fr);
  /* border: solid; */
  position: relative;
  font-size: 20px;
  padding: 50px;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  height: 60%;
}

input,
textarea {
  background-color: transparent;
  width: 80%;
  color: white;
  font-size: 16px;
  border: none;
  border-bottom: solid thin;
  border-color: rgb(157, 157, 157);
}

input:focus,
textarea:focus {
  border-color: #f6d8ae;
  outline: none;
}

.error {
  color: rgb(184, 73, 73);
  margin-left: 15%;
  font-size: 16px;
  font-weight: bold;
}

.name {
  grid-row: 1 / 2;
  margin: 30px;
  /* border: solid; */
}
.name input {
  font-size: 20px;
  width: 100%;
  /* padding: 5px; */
}

.email {
  grid-row: 2 / 3;
  margin: 30px;
}
.email input {
  font-size: 20px;
  width: 100%;
}

.body {
  grid-row: 3 / 5;
  margin: 30px;
  /* border: solid; */
}
.body textarea {
  font-size: 20px;
  width: 100%;
  margin: 10px 0px 0px 0px;
  border-color: rgb(157, 157, 157);
  word-wrap: normal;
}

.body textarea:focus {
  border-color: #f6d8ae;
}

.message button {
  /* font-size: 30px; */
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  margin: 0px auto auto 30px;
  background-color: #f6d8ae;
  padding: 10px 20px 10px 20px;
  min-width: 80px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.message button:focus {
  outline: none;
}
.email-response {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  margin: auto;
}
.message a {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  margin: auto;
  display: flex;
}

a.linkedin {
  color: rgb(157, 157, 157);
  font-size: 50px;
  position: relative;
  margin-left: 40%;
}
a.github {
  color: rgb(157, 157, 157);
  font-size: 50px;
  position: relative;
  margin-right: 40%;
}
a.linkedin:hover {
  color: rgb(198, 198, 198);
}
a.github:hover {
  color: rgb(198, 198, 198);
}

@media only screen and (max-width: 800px) {
  .message {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 15%;
    /* height: 100%; */
    margin-top: 10%;
    width: 80%;
  }

  a.linkedin {
    position: relative;
    margin-left: 20%;
  }
  a.github {
    position: relative;
    margin-right: 20%;
  }

  .email-response {
    grid-row: 5 / 6;
    font-size: 12px;
    margin-left: 50%;
  }
  input {
    width: 100%;
  }

  .body textarea {
    width: 100%;
    height: 100%;
  }

  .name,
  .email,
  .body {
    margin: 0px;
  }

  .message button {
    margin: auto auto auto 0px;
  }
}

@media only screen and (max-width: 1200px) {
  .message {
    width: 70%;
  }
}
