@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

footer {
  display: grid;
  color: white;
  padding: 6rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 4rem;
}

.footer-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  /* border: solid; */
}

.footer-name h1 {
  margin: 0;
  text-align: left;
  border-bottom: 1px solid;
  display: inline-block;
  padding-bottom: 1rem;
  font-size: 5rem;
  letter-spacing: 2px;
}

.footer-name h3 {
  padding-top: 1rem;
  font-family: "PT Sans", sans-serif;
}

.copyright {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  font-family: "PT Sans", sans-serif;
  line-height: 1.8;
  letter-spacing: 1px;
}

.footer-links {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
  font-size: 4rem;
  /* border: solid; */
  margin: auto 0;
  display: flex;
  justify-content: space-between;
}

.footer-links a {
  color: white;
  transition: all 0.3s;
}

.linkedin {
  color: rgb(49, 119, 176);
  background-color: white;
  background-clip: content-box;
}

.footer-links a:hover {
  transform: scale(1.2);
}

.icon-img {
  height: 4rem;
  /* margin-top: 5px; */
}
