@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.mobile {
  /* color: white; */
  /* border: solid; */
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  color: white;
}

.mobile-menu {
  position: fixed;
  top: 4rem;
  right: 4rem;
  background-color: rgb(53, 53, 53);
  border: none;
  /* line-height: 0; */
  z-index: 100;
  height: 9rem;
  width: 9rem;
  text-align: right;
  border-radius: 100%;
  box-shadow: 0 0.5rem 2rem rgb(0, 0, 0, 0.5);
  animation: bubble-grow 2s cubic-bezier(1, 0.79, 0.67, 1.56) 1s both;
  cursor: pointer;
}

.menu-checkbox {
  opacity: 0;
  visibility: hidden;
}

.mobile-menu-bar {
  position: relative;
  margin-top: 45%;
  margin-right: 25%;
  width: 4rem;
  animation: bar-blue 0.4s cubic-bezier(1, 0.79, 0.67, 1.56) 2.8s 1;
}
.mobile-menu-bar,
.mobile-menu-bar::before,
.mobile-menu-bar::after {
  height: 0.7rem;
  border-radius: 1rem;
  display: inline-block;
  background-color: rgb(187, 187, 187);
}

.mobile-menu-bar::before,
.mobile-menu-bar::after {
  content: "";
  position: absolute;
  right: 0;
}
.mobile-menu-bar::before {
  top: -2rem;
  width: 5rem;
  animation: bar-pink 0.6s cubic-bezier(1, 0.79, 0.67, 1.56) 2.5s 1;
}
.mobile-menu-bar::after {
  top: 2rem;
  width: 3rem;
  animation: bar-cream 0.3s cubic-bezier(1, 0.79, 0.67, 1.56) 2.9s 1;
}

.mobile-menu:hover .mobile-menu-bar::before {
  /* width: 6rem; */
  animation: shrink-hover 0.5s infinite 0s ease-in-out alternate;
  /* transition: all 0.5s 1s; */
}
.mobile-menu:hover .mobile-menu-bar::after {
  /* width: 4rem; */
  animation: grow-hover 0.5s infinite 0.6s ease-in-out alternate;
}
.mobile-menu:hover .mobile-menu-bar {
  /* width: 4.5rem; */
  animation: shrink-hover 0.5s infinite 0.3s ease-in-out alternate;
}

@keyframes bubble-grow {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bar-pink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    background-color: #da4167;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    background-color: rgb(187, 187, 187);
  }
}

@keyframes bar-blue {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    background-color: #94a6bb;
    transform: scale(1.1);
  }
  100% {
    background-color: rgb(187, 187, 187);
  }
}

@keyframes bar-cream {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    background-color: #f6d8ae;
    /* transform: scale(1.3); */
  }
  100% {
    background-color: rgb(187, 187, 187);
  }
}

/* BUTTON HOVER */
@keyframes shrink-hover {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.7) translateX(1.1rem);
  }
}
@keyframes grow-hover {
  0% {
    transform: scaleX(1.2) translateX(-0.5rem);
  }
  100% {
    transform: scaleX(1);
  }
}

/***** SIDE PANEL *****/
.side-panel {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

.menu-checkbox:checked ~ .side-panel {
  font-family: "PT Sans", sans-serif;

  background-color: rgba(41, 41, 41, 0.7);
  display: grid;
  grid-template-rows: 10% 15% 15% 15% 15% 30%;
  top: 0;
  right: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 5;
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(5px);
  transition: opacity 0.5s ease;
}
.menu-checkbox:checked ~ .mobile-menu .mobile-menu-bar::before {
  animation: none;
  animation: drop-top-bar 2s ease 0.2s 1 both;
}
.menu-checkbox:checked ~ .mobile-menu .mobile-menu-bar {
  animation: none;
  animation: drop-middle-bar 1s ease 0.2s 1 both;
}
.menu-checkbox:checked ~ .mobile-menu .mobile-menu-bar::after {
  animation: none;
  animation: drop-bottom-bar 1s ease 0s 1 both;
}

/* ENTER EXIT BUTTON */
.menu-checkbox:checked ~ .mobile-menu .exit-menu-bar,
.mobile-menu .exit-menu-bar::before {
  position: absolute;
  width: 5rem;
  height: 0.5rem;
  top: 50%;
  left: 50%;
  border-radius: 1rem;
  background-color: rgb(187, 187, 187);
}
.menu-checkbox:checked ~ .mobile-menu .exit-menu-bar {
  transform: translate(-50%, -50%) rotate(-45deg);
  background: linear-gradient(
    -90deg,
    rgb(187, 187, 187) 0%,
    rgb(187, 187, 187) 50%,
    rgb(53, 53, 53) 50%
  );
  background-size: 100%;
  /* background-repeat: no-repeat; */
  /* animation: xgrow 1s ease 1s both; */
}

.menu-checkbox:checked ~ .mobile-menu .exit-menu-bar::before {
  content: "";
  transform: translate(-50%, -50%) rotate(90deg);
  background: linear-gradient(
    90deg,
    rgb(187, 187, 187) 0%,
    rgb(187, 187, 187) 50%,
    rgb(53, 53, 53) 50%
  );
  /* animation: xgrow 1s ease 1s both; */
}
.side-panel a {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

.menu-checkbox:checked ~ .side-panel a {
  font-size: 44px;
  text-transform: uppercase;
  margin: auto;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  visibility: visible;
  opacity: 1;
  /* display: inline-block; */
  text-align: center;
  padding-bottom: 4rem;
  transition: opacity 0.5s ease;
}

.menu-checkbox:checked ~ .side-panel a:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@keyframes drop-bottom-bar {
  0% {
    opacity: 1;
  }
  100% {
    transform: rotate(30deg) translateY(4rem);
    opacity: 0;
  }
}
@keyframes drop-middle-bar {
  0% {
    opacity: 1;
  }
  100% {
    transform: rotate(-20deg) translateY(4rem);
    opacity: 0;
  }
}
@keyframes drop-top-bar {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
    transform: rotate(20deg) translateY(-1rem);
  }
  100% {
    transform: rotate(40deg) translateY(4rem);
    opacity: 0;
  }
}

@keyframes overlay-fade {
  0% {
    opacity: 0.7;
    visibility: visible;
  }
  90% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes xgrow {
  0% {
    background-size: 0%;
  }

  100% {
    background-size: 1000%;
  }
}
@keyframes xgrow2 {
  0% {
    background-size: 1000%;
  }

  100% {
    background-size: 0%;
  }
}
/*
@media only screen and (min-width: 800px) {
  .mobile-menu {
  }
} */
