@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.projects {
  position: relative;
  height: 100vh;
  /* border: solid; */
  color: white;
  padding: 50px 0px 100px 0px;
  background-color: rgb(63, 63, 63);
}

h1 {
  font-family: "Righteous", cursive;
  font-size: 40px;
  color: white;
  text-align: center;
  position: relative;
  margin-top: 5%;
}

.bottom-border {
  background-color: #94a6bb;
  width: 200px;
  height: 40px;
  margin: auto;
}

.project-menu {
  margin-left: 10%;
}
.project-menu button {
  font-family: "PT Sans", sans-serif;
  color: rgb(199, 199, 199);
  background-color: transparent;
  font-size: 18px;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  border-color: transparent;
}

.project-menu button:hover {
  border-color: rgb(159, 159, 159);
}

.project-menu button:focus {
  outline: none;
}

button.active {
  background-color: rgb(74, 78, 84);
}
button.active:hover {
  border-color: transparent;
}

/********** Project Display **********/

.all-projects {
  /* border: solid; */
  width: 80%;
  height: 60%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  position: relative;
  overflow-x: scroll;
}

.project-box {
  height: 90%;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  z-index: 1;
}

.select {
  z-index: 4;
}

.project-box img {
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  transition: all 0.5s;
}

.select img {
  opacity: 1;
}

.project-box img:hover {
  opacity: 1;
}

.bottom {
  margin-top: auto;
  margin-bottom: 0px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(63, 63, 63);
  opacity: 0.9;
  z-index: 0;
  /* transition: all 0.5s ease; */
}

.top {
  z-index: 2;
}

@media only screen and (max-width: 1250px) {
  .overlay {
    width: 150%;
  }
}

@media only screen and (max-width: 675px) {
  .all-projects {
    overflow: hidden;
  }
  .projects {
    height: 100%;
  }

  .project-menu {
    margin: auto;
    text-align: center;
    margin: 10px;
  }
  .all-projects {
    display: block;
    height: auto;
    margin-bottom: 100px;
  }
  .project-box {
    width: 90%;
    margin: 10px auto 15px auto;
  }

  .project-box img {
    width: 100%;
  }
}
